# Server Configuration
PORT=4000
NODE_ENV=production
HOST=0.0.0.0

# Database
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/your_db

# thông tin tài khoản mật khau admin khi khởi tạo lần đầu
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=
SEED_ADMIN_EMAIL=admin@paopizza.local
SEED_ADMIN_PHONE=0900000000

# Auth Secrets
ACCESS_TOKEN_SECRET=your_super_secret_access_token
REFRESH_TOKEN_SECRET=your_super_secret_refresh_token

# API KEY RESEND
RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=PaoPizza <no-reply@your-domain.com>

# Cloud Service
CLOUDINARY_CLOUD_NAME=your_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret

# Payment Gateway (SePay)
SEPAY_API_TOKEN=NG3LU...
BANK_BIN=MBBank
BANK_ACCOUNT=VQRQAIMO...

# CORS Configuration
CLIENT_URL=client_url
